.swiper-pagination {
  display: flex;
  justify-content: center;

  &-bullet {
    margin: 0 5px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: $color-primary;
    opacity: .4;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &-active {
      background: $color-primary;
      opacity: 1;
    }
  }
}
