.accordion {
  padding: 20px 0 10px;

  &:not(:first-child) {
    border-top: 1px solid #ddd;
  }

  &.opened {
    .accordion__body {
      display: block;
    }

    .accordion__label {
      color: $color-secondary;
    }

    .plus-btn {
      &:after {
        transform: translate(-50%, -50%) rotate(-90deg);
      }
    }
  }

  &__heading {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      .accordion__label {
        color: $color-secondary;
      }
    }
  }

  &__label {
    font-weight: 500;
    color: $color-primary;
    @include transition;
  }

  &__price {
    margin-left: auto;
    padding-left: 15px;
    font-weight: 500;
    color: $color-gold-dark;
  }

  &__button {
    margin-left: 20px;
    display: inline-flex;
  }

  &__body {
    display: none;

    &.animate {
      position: relative;
      display: block;
      height: 0;
      overflow: hidden;
      transition: height .32s ease;
    }
  }
}
