.pagination {
  display: flex;

  &__prev {
    .icon {
      transform: rotate(180deg);
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: $color-primary;
    border-radius: 50%;
    border: 1px solid rgba(221, 221, 221, 1);
    @include transition();

    &:not(:first-child) {
      margin-left: 10px;
    }

    &:hover {
      background: $color-secondary;
      border-color: $color-secondary;
      color: #FFFFFF;
    }

    &--current {
      background: $color-secondary;
      color: #FFFFFF;
      border-color: $color-secondary;
      cursor: default;
    }

    &[disabled] {
      opacity: 0.5;
      border-color: rgba(221, 221, 221, 1);
      &:hover {
        background: #FFFFFF;
        border-color: rgba(221, 221, 221, 1);
        color: $color-primary;
      }
      cursor: default;
    }
  }

}
