.socials {
  display: flex;

  &__social {
    display: flex;
    align-items: center;

    &-link {
      display: flex;
      align-items: center;
      font-size: 30px;

      &:hover {
        color: $color-secondary;
      }
    }

    &:not(:last-child):after {
      margin-top: -2px;
      content: '|';
      padding: 0 12px;
      font-size: 21px;
    }
  }
}
