<ul class="breadcrumbs">
  {{# times number }}
    <li class="breadcrumbs__item">
      <a href="#" class="breadcrumbs__link">Home</a>
    </li>
  {{/times}}

  <li class="breadcrumbs__item">
    <span class="breadcrumbs__label active">{{label}}</span>
  </li>
</ul>
