<ul class="breadcrumbs">
  <li class="breadcrumbs__item">
    <a href="#" class="breadcrumbs__link">{{label}}</a>
  </li>

  <li class="breadcrumbs__item">
    <span class="breadcrumbs__label active">{{label}}</span>
  </li>
</ul>
