<div class="categories-filter">
  <span class="categories-filter__title">Categories</span>

  <ul class="categories-filter__list">
    <li class="categories-filter__item">
      <a href="#" class="categories-filter__link">Все категории</a>
    </li>
    <li class="categories-filter__item">
      <a href="#" class="categories-filter__link">Ногти</a>
    </li>
    <li class="categories-filter__item">
      <a href="#" class="categories-filter__link">Волосы</a>
    </li>
    <li class="categories-filter__item">
      <a href="#" class="categories-filter__link">Массаж</a>
    </li>
    <li class="categories-filter__item">
      <a href="#" class="categories-filter__link">Nature</a>
    </li>
    <li class="categories-filter__item">
      <a href="#" class="categories-filter__link">Yoga</a>
    </li>
  </ul>
</div>
