<div class="pagination">
  <button class="pagination__button pagination__prev" disabled>{{> ui/svg name="chevron-thin"}}</button>
  <button class="pagination__button pagination__button--current">1</button>
  <button class="pagination__button">2</button>
  <button class="pagination__button">3</button>
  <button class="pagination__button pagination__next">{{> ui/svg name="chevron-thin"}}</button>
</div>
