<div class="product-card">
  <div class="product-card__image">
    {{> components/image img=img-src  ext="jpg" no-2x=true}}
  </div>

  <div class="product-card__bottom">
    <span class="product-card__label">{{label}}</span>
    <span class="product-card__price">{{price}}&nbsp;BYN</span>
  </div>
</div>
