<div class="service-card">
  <a href="" class="service-card__link"></a>
  <div class="service-card__image">
    {{> components/image img=image img-mobile=(concat image '-mobile') ext="jpg" no-2x=true}}
  </div>

  <div class="service-card__banner service-card__banner--{{banner-color}}">
    <span class="service-card__banner-title">Sauna Massage</span>
    <span class="service-card__banner-text">Natural Health</span>
  </div>
</div>
