<div class="socials">
  <div class="socials__social">
    <a href="#" class="socials__social-link">{{> ui/svg name="facebook"}}</a>
  </div>

  <div class="socials__social">
    <a href="#" class="socials__social-link">{{> ui/svg name="instagram"}}</a>
  </div>

  <div class="socials__social">
    <a href="#" class="socials__social-link">{{> ui/svg name="linkedin"}}</a>
  </div>
</div>
