<div class="socials">
  <div class="socials__social">
    <a href="#" target="_blank" class="socials__social-link">{{> ui/svg name="instagram"}}</a>
  </div>

  <div class="socials__social">
    <a href="viber://chat?number=%2B__number__" target="_blank" class="socials__social-link">{{> ui/svg
      name="viber"}}</a>
  </div>

  <div class="socials__social">
    <a href="#" target="_blank" class="socials__social-link">{{> ui/svg name="telegram"}}</a>
  </div>
</div>
