<div class="tags-filter">
  <span class="tags-filter__title">Теги производителей</span>
  <div class="tags-filter__tags">
    <div class="tags-filter__tags-wrapper">
      <a href="#" class="tags-filter__tag active">Суперкрем</a>

      {{# times 5}}
        <a href="#" class="tags-filter__tag">Gigi</a>
      {{/times}}
    </div>
  </div>
</div>
