<nav class="header-menu">
  <ul class="header-menu__nav">
    <li class="header-menu__item">
      <a href="#" class="header-menu__item-link {{#if home}}active{{/if}}">Главная
        <i class="header-menu__item-icon">{{> ui/svg name="chevron-right"}}</i>
      </a>

    </li>
    <li class="header-menu__item">
      <a href="#" class="header-menu__item-link">Магазин
        <i class="header-menu__item-icon">{{> ui/svg name="chevron-right"}}</i>
      </a>

    </li>
    <li class="header-menu__item">
      <a href="#" class="header-menu__item-link">Услуги
        <i class="header-menu__item-icon">{{> ui/svg name="chevron-right"}}</i>
      </a>
    </li>
    <li class="header-menu__item">
      <a href="#" class="header-menu__item-link">Ногти
        <i class="header-menu__item-icon">{{> ui/svg name="chevron-right"}}</i>
      </a>
    </li>
  </ul>
</nav>
