.about-us {
  padding: 120px 0;
  background: $color-creamy;
  @include smallTablet-and-mobile {
    padding: 90px 0;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__left {
    display: flex;
    flex: 1 1 50%;
    max-width: 50%;
    @include smallTablet-and-mobile {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }

  &__image {
    position: relative;

    @include smallTablet-and-mobile {
      margin: 0 auto;
    }
  }

  &__right {
    margin-left: 90px;
    margin-top: 50px;
    flex: 1 1 calc(420px - 90px);
    max-width: calc(420px - 90px);

    @include smallTablet-and-mobile {
      margin-left: 0;
      margin-top: 90px;
      flex: 1 1 100%;
      max-width: 100%;
    }
  }

  &__title {
    display: block;
    font-weight: 500;
    letter-spacing: 3px;
    color: $color-gold-dark;
  }

  &__heading {
    margin-top: 20px;
    display: block;
    font-family: var(--heading-font);
    text-transform: uppercase;
    line-height: 1.5em;
    font-size: 40px;
    color: $color-primary;

    @include mobile {
      font-size: 32px;
    }
  }

  &__text {
    margin-top: 15px;
  }

  &__text-spinner {
    position: absolute;
    left: -20px;
    bottom: -40px;
    text-transform: uppercase;
    display: inline-flex;

    svg {
      animation: 3s loop-rotate linear infinite;
      animation-duration: 8s;
    }

    text {
      font: initial;
      font-size: 12px;
    }
  }
}
