.questions {
  padding-top: 120px;
  background: #FFFFFF;

  @include smallTablet-and-mobile {
    padding-top: 90px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include smallTablet-and-mobile {
      flex-wrap: wrap;
    }
  }

  &__container {
    flex: 1 1 50%;
    max-width: 50%;

    @include smallTablet-and-mobile {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }

  &__title {
    display: block;
    font-family: var(--heading-font);
    font-size: 40px;
    text-transform: uppercase;
    color: $color-primary;

    @include mobile {
      font-size: 32px;
    }
  }

  &__accordion {
    margin-top: 20px;
  }

  &__image {
    margin-left: 80px;
    flex: 1 1 calc(50% - 80px);
    max-width: calc(50% - 80px);

    @include smallTablet-and-mobile {
      margin-left: 0;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
}
