.services-jobs {
  padding-top: 120px;
  background: #FFFFFF;
  overflow: hidden;

  @include smallTablet-and-mobile {
    padding-top: 90px;
  }

  &__heading {
    display: block;
    text-align: center;
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    font-size: 40px;
    line-height: 1.5em;
    text-transform: uppercase;
    color: $color-primary;

    @include mobile {
      font-size: 32px;
    }
  }

  &__inner {
    padding-top: 15px;
  }

  .carousel {
    &__tabs {
      display: flex;
      align-items: center;

      @include smallTablet-and-mobile {
        overflow: auto;
      }
    }

    &__slider {
      margin-left: 90px;
      width: 100%;
      @include smallTablet-and-mobile {
        margin-left: 0;
        margin-top: 20px;
      }
    }

    &__wrapper {
      display: flex;
      @include smallTablet-and-mobile {
        flex-wrap: wrap;
      }
    }

    &__slide {
      width: auto;

      @include smallTablet-and-mobile {
        width: 100%;
      }
    }

    img {
      width: 652px;
      height: 680px;

      @include smallTablet-and-mobile {
        width: 100%;
        height: auto;
      }
    }
  }

  .swiper-pagination {
    @include smallTablet-and-mobile {
      margin-top: 15px;
    }
  }

  .tabs {
    &__inner {
      @include smallTablet-and-mobile {
        display: flex;
        max-width: 1023px;
      }
    }

    &__item {
      &:not(:first-child) {
        margin-top: 10px;

        @include smallTablet-and-mobile {
          margin-top: 0;
          margin-left: 20px;
        }
      }
    }

    &__link {
      display: inline-flex;
      align-items: center;
      font-size: 32px;
      font-weight: 600;
      white-space: nowrap;
      line-height: 150%;
      opacity: 0.4;
      @include transition(.3s);

      &:before {
        margin-right: 15px;
        content: "";
        width: 0;
        height: 4px;
        background: currentColor;
        transition: width .2s ease-out .1s;
      }

      @include mobile {
        font-size: 25px;
      }

      &:hover {
        color: $color-primary;
        opacity: 1;
      }

      &.active {
        color: $color-primary;
        opacity: 1;

        &:before {
          width: 45px;
        }
      }
    }
  }
}
