.services {
  padding-top: 120px;
  background: #FFFFFF;

  &__heading {
    max-width: 800px;

    &-title {
      font-family: var(--heading-font);
      font-weight: var(--heading-font-weight);
      font-size: 40px;
      line-height: 1.5em;
      text-transform: uppercase;
      color: $color-primary;
    }

    &-text {
      margin-top: 15px;
    }
  }

  &__row {
    margin-top: 115px;
  }

  .carousel {
    &__slider {
      margin-left: -20px;
    }


    .carousel__slide {
      margin-left: $desktopGutter;
      width: calc(33.33% - 20px);
    }
  }
}
