.services {
  padding-top: 120px;
  background: #FFFFFF;

  @include smallTablet-and-mobile {
    padding-top: 90px;
  }

  &__heading {
    max-width: 800px;

    &-title {
      font-family: var(--heading-font);
      font-weight: var(--heading-font-weight);
      font-size: 40px;
      line-height: 1.5em;
      text-transform: uppercase;
      color: $color-primary;

      @include mobile {
        font-size: 32px;
      }
    }

    &-text {
      margin-top: 15px;
    }
  }

  &__row {
    margin-top: 95px;

    @include smallTablet-and-mobile {
      margin-top: 65px;
    }
  }

  .carousel {
    &__slider {
      //margin-left: -20px;
      //
      //@include mobile {
      //  margin-left: -16px;
      //}
    }


    .carousel__slide {
      //margin-left: $desktopGutter;
      width: calc(33.33%);

      @include smallTablet {
        width: calc(50%);
      }

      @include mobile {
        //margin-left: $mobileGutter;
        width: calc(100%);
      }
    }
  }
}
