<section class="hero">
  <div class="hero__background">
    {{> components/image img="home/hero-bg" img-mobile="home/hero-bg-mobile"  ext="jpg" no-2x=true}}
  </div>
  <div class="container">
    <div class="hero__wrapper">
      <span class="hero__title">Discover a truly relaxing experience</span>
      <span class="hero__heading">The Essence of Beauty</span>
      <div class="hero__btn">{{> ui/btn icon="arrow-right" mod="ms_booking" size="large" color="gold" label="Записаться на
      прием"}}</div>
    </div>
  </div>

  <div class="hero__contacts">
    <div class="hero__contacts-item">
      <span class="hero__contacts-text hero__contacts-text--mail">mary.potaneiko@mail.ru</span>
    </div>
    <div class="hero__contacts-item">
      <span class="hero__contacts-text hero__contacts-text--phone">+375(29)340-29-69</span>
    </div>
    <div class="hero__contacts-item">
      <span class="hero__contacts-text hero__contacts-text--marker">90 St Johns Brooklyn, NY, USA</span>
    </div>
  </div>
</section>
