<section class="services">
  <div class="container">
    <div class="services__heading">
      <span class="services__heading-title">Услуги</span>
      <p class="services__heading-text">Мы создаем красоту вместе с вами и с заботой о вас. Для всех услуг мы тщательно
        отбираем продукты, безопасные для вас и окружающую среду.</p>
    </div>

    <div class="services__row">
      {{> modules/carousel/services}}
    </div>
  </div>
</section>
