<section class="about-us">
  <div class="container">
    <div class="about-us__wrapper">
      <div class="about-us__left">
        <div class="about-us__image">
          {{> components/image img='home/about' ext="jpg" no-2x=true}}
        </div>

        <div class="about-us__text-spinner">
          <svg viewBox="0 0 70 70" width="30%">
            <defs>
              <path d="M35,35m-23,0a23,23 0 1,1 46,0a23,23 0 1,1 -46,0" fill="lightpink" id="tophalf" />
            </defs>
            <text>
              <textPath xlink:href="#tophalf" startOffset="0%">Dr. Mary</textPath>
              <textPath xlink:href="#tophalf" startOffset="50%">Gagarina</textPath>
            </text>
          </svg>
        </div>
      </div>
      <div class="about-us__right">
        <span class="about-us__title">Наша история</span>
        <span class="about-us__heading">Be your own kind of beautiful</span>
        <p class="about-us__text">
          Мы - крупнейшая сеть дневных спа в США. Мы доступны в более чем 65 районах, а также в 19 городских районах
          США.
          Мы
          постоянно реанимируем более 1500 посетителей. Имея ограниченные возможности сосредоточиться на 8 лет, наш
          имидж
          стал синонимом благополучия и управления салонов во всем мире. Наша группа мастеров по омоложению предлагает
          индивидуальные оздоровительные процедуры в соответствии с потребностями каждого человека.
        </p>
      </div>
    </div>
  </div>
</section>
