<section class="services-jobs">
  <div class="container">
    <span class="services-jobs__heading">Галерея работ</span>

    <div class="services-jobs__inner">
      {{> modules/carousel/services-jobs}}
    </div>
  </div>
</section>
