<section class="services-carousel">
  <div class="container">
    <span class="services-carousel__heading">Галерея работ</span>

    <div class="services-carousel__inner">
      {{> modules/carousel/services }}
    </div>
  </div>
</section>
