<section class="contacts">
  <div class="contacts__left">
    <div class="map">
      <div class="loader loader-default"></div>
      <div id="yandex-map" style="width: 100%; height: 100%"></div>
    </div>
  </div>
  
  <div class="contacts__right">
    <span class="contacts__heading"></span>
    <p class="contacts__heading-text"></p>

    <div class="contacts__inner">
      <div class="contacts__info">
        <a href="#" class="contacts__info-link">
          <i class="contacts__info-icon">{{> ui/svg name="map-marker"}}</i>
          <span class="contacts__info-text">6 West Broadway, New York,<br> NY 10012, USA</span>
        </a>
      </div>

      <div class="contacts__info">
        <a href="#" class="contacts__info-link">
          <i class="contacts__info-icon">{{> ui/svg name="envelope"}}</i>
          <span class="contacts__info-text">mary.potaneiko@mail.ru</span>
        </a>
      </div>

      <div class="contacts__info">
        <a href="#" class="contacts__info-link">
          <i class="contacts__info-icon">{{> ui/svg name="phone"}}</i>
          <span class="contacts__info-text">+375(29)340-29-69</span>
        </a>
      </div>
    </div>
  </div>
</section>
