// Colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: #797979;
$color-grey-light: #cecece;
$color-dark: #2d2e32;
$color-brown-dark: #302F2F;
$color-gold: #b9a25f;
$color-gold-dark: #b68c3b;
$color-creamy: #fffaf6;
$color-creamy-light: #f8f5f3;

$color-primary: #191919;
$color-primary-hover: darken($color-primary, 5%);
$color-secondary: #d6b981;
$color-secondary-hover: darken($color-secondary, 5%);

$color-placeholder: rgba(5, 36, 51, 0.2);
$color-input-border: #DAE4ED;
