<section class="contacts">
  <div class="container">
    <div class="contacts__wrapper">
      <div class="contacts__left">
        <div class="contacts__map js-map">
          <div class="contacts__map-container js-map__container"></div>
        </div>
      </div>

      <div class="contacts__right">
        <span class="contacts__heading">Contact info</span>
        <p class="contacts__heading-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip commodo.</p>

        <div class="contacts__inner">
          <div class="contacts__info">
            <a href="#" class="contacts__info-link">
              <i class="contacts__info-icon">{{> ui/svg name="map-marker"}}</i>
              <span class="contacts__info-text">6 West Broadway, New York,<br> NY 10012, USA</span>
            </a>
          </div>

          <div class="contacts__info">
            <a href="mailto:mary.potaneiko@mail.ru" class="contacts__info-link">
              <i class="contacts__info-icon">{{> ui/svg name="envelope"}}</i>
              <span class="contacts__info-text">mary.potaneiko@mail.ru</span>
            </a>
          </div>

          <div class="contacts__info">
            <a href="tel:+375293402969" class="contacts__info-link">
              <i class="contacts__info-icon">{{> ui/svg name="phone"}}</i>
              <span class="contacts__info-text">+375(29)340-29-69</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
