<header class="header page__header js-header">
  <div class="header__wrapper">
    <div class="header__left">
      <a href="home.html" class="header__logo">
        {{>components/image img="logo" ext='png' no-2x=true}}
      </a>
    </div>
    <div class="header__center">
      {{> blocks/header/header-menu home=home}}
      <button class="header__burger js-header__open">
        <span class='header__burger-line'></span>
        <span class='header__burger-line'></span>
      </button>
    </div>
    <div class="header__right">
      {{> ui/btn outline=true btn-mode='wide-letters' href='home.html' label='Записаться' }}
    </div>
  </div>
  <div class="header__aside js-header__pushed">
    <button class="header__close js-header__close">
      <i class="header__close-icon">{{> ui/svg name="close-btn"}}</i>
    </button>
  </div>
</header>

<main class="page__content">
