.service-price {
  margin-top: 120px;

  @include smallTablet-and-mobile {
    margin-top: 90px;
  }

  &__title {
    display: block;
    text-align: center;
    font-family: var(--heading-font);
    font-size: 40px;
    text-transform: uppercase;
    color: $color-primary;

    @include smallTablet-and-mobile {
      font-size: 32px;
    }
  }

  &__accordion {
    margin: 20px auto 0;
    max-width: 900px;
  }
}
