.service-price {
  margin-top: 120px;

  &__title {
    display: block;
    text-align: center;
    font-family: var(--heading-font);
    font-size: 40px;
    text-transform: uppercase;
    color: $color-primary;
  }

  &__accordion {
    margin: 20px auto 0;
    max-width: 900px;
  }

  &__item {
    padding: 20px 0 10px;

    &:not(:first-child) {
      border-top: 1px solid #ddd;
    }

    &.opened .service-price__body {
      display: block;
    }

    &.opened .plus-btn {
      &:after {
        transform: translate(-50%, -50%) rotate(-90deg);
      }
    }
  }

  &__heading {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
  }

  &__label {
    color: $color-primary;
  }

  &__price {
    margin-left: auto;
    color: $color-gold-dark;
  }

  &__button {
    margin-left: 25px;
    display: inline-flex;
  }

  &__body {
    display: none;

    &.animate {
      position: relative;
      display: block;
      height: 0;
      overflow: hidden;
      transition: height .32s ease;
    }
  }
}
