<section class="service-about">
  <div class="container">
    <div class="service-about__wrapper">
      <div class="service-about__left">
        <span class="service-about__title">Об услуге</span>
        <p class="service-about__text">Нет ничего лучше в конце напряженного дня, чем сеанс расслабляющего массажа в
          специальной зоне 365STUDIO. Через 1 час наш массажист проработает болевой участок или снимет усталость и
          отечность со всего тела. А расслабляющая музыка и ароматерапия перенесут вас в один из SPA-салонов на
          побережье
          тропических островов.
          <br>
          <br>
          На ваш выбор доступны следующие техники массажа: спортивный, авторский, моделирующий, антицеллюлитный,
          арома-массаж и специальный SPA-ритуалы от наших партнеров Charme D’Orient, Philip Martin’s.</p>
        <div class="service-about__button">
          {{> ui/btn btn-mode='wide-letters' mod='js-booking-btn' href='home.html' label='Записаться' }}
        </div>
      </div>

      <div class="service-about__right">
        <div class="service-about__image">
          {{> components/image img="service/service-1"  ext="jpg" no-2x=true}}
        </div>
      </div>
    </div>
  </div>
</section>
