<section class="service-price">
  <div class="container">
    <span class="service-price__title">Прайс лист Massage</span>

    <div class="service-price__accordion">
      {{# times 5 }}
        {{> widgets/accordion label="Аромарелакс – массаж маслом свечой" price="350"
          text="База, тон, контуринг лица, брови, стрелки, акцент на глаза или губы, тушь, ресницы-пучки"
        }}
      {{/times}}
    </div>
  </div>
</section>
