{{!Products}}

{{> layout/head page-title="Products"}}
{{> layout/header active-link='products'}}

{{> modules/page-heading title='Products' number = 1}}
{{> blocks/products/01_grid }}

<section class="products-pagination">
  {{> widgets/pagination }}
</section>

{{> layout/contacts }}
{{> layout/footer }}
