<section class="services-grid">
  <div class="container">
    <div class="services-grid__wrapper">
      <div class="services-grid__item">
        {{> widgets/service-card image='services/service_1' banner-color='blue'}}
      </div>

      <div class="services-grid__item">
        {{> widgets/service-card image='services/service_2' banner-color='orange'}}
      </div>

      <div class="services-grid__item">
        {{> widgets/service-card image='services/service_3'}}
      </div>
    </div>
  </div>
</section>
