.services-carousel {
  padding-top: 120px;
  background: #FFFFFF;

  &__heading {
    display: block;
    text-align: center;
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    font-size: 40px;
    line-height: 1.5em;
    text-transform: uppercase;
    color: $color-primary;
  }

  &__inner {
    padding: 15px 0 30px;
  }

  .carousel {
    &__tabs {
      display: flex;
      align-items: center;
    }

    &__slider {
      margin-left: 120px;
    }

    &__wrapper {
      display: flex;
    }

    &__slide {
      width: auto;
    }

    img {
      width: 652px;
      height: 680px;
    }
  }

  .tabs {

    &__item {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }

    &__link {
      font-size: 35px;
      font-weight: 600;
      white-space: nowrap;
      line-height: 150%;
      opacity: 0.4;
      @include transition(.3s);

      &:hover {
        color: $color-primary;
        opacity: 1;
      }

      &.active {
        color: $color-primary;
        opacity: 1;
      }
    }
  }
}
