.product-info {
  margin-top: 130px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    padding: 30px;
    flex: 1 1 40%;
    max-width: 40%;
    border: 1px solid $color-primary;
    img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
    }
  }

  &__description {
    margin-left: 50px;
    flex: 1 1 calc(60% - 50px);
    max-width: calc(60% - 50px);
  }

  &__heading {
    display: block;
    font-family: var(--heading-font);
    font-size: 34px;
    line-height: 1.4;
    text-transform: uppercase;
    color: $color-primary;
  }

  &__price {
    margin-top: 25px;
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
    color: $color-primary;
    line-height: 1.2;
  }

  &__text {
    margin-top: 16px;
  }

  &__meta {
    margin-top: 30px;

    &-item {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }

    &-label {
      letter-spacing: .1em;
      color: $color-primary;
    }

    &-tag {
      &:hover {
        color: $color-secondary;
      }
    }
  }
}
