.product-tabs {
  margin-top: 80px;

  &__tabs {
    margin: -15px 0 0 -35px;
    display: flex;
    flex-wrap: wrap;
  }

  &__tab {
    margin-left: 35px;
    margin-top: 15px;

    &.active {
      background: $color-primary;
      color: $color-white;
    }
  }

  &__content {
    margin-top: 35px;
    display: none;

    &-label {
      letter-spacing: .1em;
      color: $color-primary;
    }

    &.active {
      display: block;
    }
  }
}
