<div class="product-info">
  <div class="product-info__image">
    {{> components/image img="product/product-cream"  ext="jpg" no-2x=true}}
  </div>

  <div class="product-info__description">
    <span class="product-info__heading">dio bb cream</span>
    <span class="product-info__price">
      <span class="product-info__price-label">
        BYN
      </span>
      79.00
    </span>
    <p class="product-info__text">
      Cursus nulla consectetur a eros adipiscing himenaeos nam taciti id turpis a scelerisque vel habitasse. Scelerisque
      adipiscing bibendum sem vestibulum et in a a a purus lectus faucibus lobortis tincidunt purus lectus nisl class
      eros.
    </p>

    <div class="product-info__meta">
      <div class="product-info__meta-item">
        <span class="product-info__meta-label">Availability:</span>
        <span class="product-info__meta-value">In stock</span>
      </div>

      <div class="product-info__meta-item">
        <span class="product-info__meta-label">Categories:</span>
        <span class="product-info__meta-value">
          <a href="" class="product-info__meta-tag" rel="tag">Bath & Body</a>&nbsp;/&nbsp;
          <a href="" class="product-info__meta-tag" rel="tag">Skincare</a>&nbsp;/&nbsp;
          <a href="" class="product-info__meta-tag" rel="tag">Sunscreen</a>
        </span>
      </div>

      <div class="product-info__meta-item">
        <span class="product-info__meta-label">Tags:</span>
        <span class="product-info__meta-value">
          <a href="" class="product-info__meta-tag" rel="tag">Beauty</a>&nbsp;/&nbsp;
          <a href="" class="product-info__meta-tag" rel="tag">Makeup</a>&nbsp;/&nbsp;
          <a href="" class="product-info__meta-tag" rel="tag">Skin Care</a>
        </span>
      </div>
    </div>
  </div>
</div>
