<section class="product-tabs js-tabs-widget">
  <div class="container">
    <div class="product-tabs__tabs">
      <span class="product-tabs__tab btn btn--outline btn--wide-letters js-tab active">Description</span>
      <span class="product-tabs__tab btn btn--outline btn--wide-letters js-tab">Additional information</span>
    </div>

    <div class="product-tabs__content js-tab-content active">Id vitae discere sit amet, nisl falli quaeque vim ut, id choro quaeque facilisi
      pro. Mei graeco vocibus cu, pro dictas assentior disputationi ex. Quo eu putent aliquip necessitatibus. His te
      mazim graece, cu eius rear numes mei. Mea id mollis impedit, ne mucius vidisse virtute vim. Nam in meis adipiscing
      scribentur. Id splendide inciderint content ones cum, in mea scripta aperiri, ne qui iusto mucius. Stet laudem ea
      has. Quo assum harum sadipscing ne, vix vidit idque assueverit id. Legere expetenda dissenti unt id eum, tale
      habeo recusabo at per. Cu eum saperet omittantur, cum in tritani alterum delicata. At oratio conte tiones mei. Vel
      an malis exerci, percipitur an.
    </div>
    <div class="product-tabs__content js-tab-content">
      <div class="product-tabs__content-line">
        <span class="product-tabs__content-label">Вес:</span>
        <span class="product-tabs__content-value">0.7 кг</span>
      </div>

      <div class="product-tabs__content-line">
        <span class="product-tabs__content-label">Габариты:</span>
        <span class="product-tabs__content-value">26 × 8 × 8 cm</span>
      </div>
    </div>
  </div>
</section>
