<section class="page-heading">
  <div class="container">
    <span class="page-heading__title">{{title}}</span>
    <div class="page-heading__breadcrumbs">
      {{> widgets/breadcrumbs label=title number=number}}
    </div>
  </div>
</section>
