.header {
  padding: 0 70px;
  display: flex;
  align-items: center;
  min-height: 100px;
  width: 100%;
  background: $color-white;
  color: $color-dark;
  letter-spacing: 0.1em;
  transition: top .3s ease-in-out;

  @include smallTablet-and-mobile {
    position: fixed;
    z-index: 4;
    padding: 0 $mobileGutter;
    min-height: 75px;
    background: linear-gradient(0deg, #fff, #fff);
    box-shadow: 0 5px 26px rgb(1 64 139 / 14%);
  }

  &.fixed-prepare {
    position: fixed;
    top: -100px;
    z-index: 4;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, #fff, #fff);
    box-shadow: 0 5px 26px rgb(1 64 139 / 14%);
  }


  &.fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }

  &.opened {
    ~ .aside {
      transform: translateX(0);
    }

    @include smallTablet-and-mobile {
      .header-menu {
        transform: translateY(0);
      }
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__left {
    @include smallTablet-and-mobile {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      min-height: 75px;
      width: 100%;
      background: #FFFFFF;
    }
  }

  &__center {
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
    align-items: center;

    @include smallTablet-and-mobile {
      display: block;
      margin: 0;
      padding: 0;
    }
  }

  &__right {
    @include smallTablet-and-mobile {
      display: none;
    }
  }

  &__logo {
    display: block;
    width: 75px;
    height: 75px;

    @include smallTablet-and-mobile {
      margin: 0 auto;
      width: 65px;
      height: 65px;
    }
  }

  &__burger {
    position: relative;
    margin-left: 50px;
    width: 30px;
    height: 12px;

    @include smallTablet-and-mobile {
      @include align(false, true);
      margin-left: 0;
      left: 0;
      z-index: 1;
    }

    &:hover {
      color: $color-secondary;

      .header__burger-line:last-child {
        width: 30px;
      }
    }

    &-line {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: currentColor;
      @include transition(.3s);

      &:first-child {
        top: 0;
      }

      &:last-child {
        bottom: 0;
        width: 15px;
      }
    }
  }

  &__shedule-btn {
    @include smallTablet-and-mobile {
      position: absolute;
      right: 0;
      z-index: 2;
      @include align(false, true);
      display: inline-flex;
      width: 40px;
      height: 40px;
      border: 1px solid $color-primary;
      &:before {
        content: '';
        @include align();
        @include transition;
        @include sprite('shedule');
        z-index: 2;
      }
    }
  }
}
