.page {
  display: flex;
  justify-content: center;

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
  }

  &__header {
    position: relative;
  }

  &__content {
    flex: 1 0 auto;
    min-height: 1px;

    @include tablet-and-mobile{
      margin-top: 75px;
    }
  }

  &__footer {
    flex-shrink: 0;
  }

  &:before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    backdrop-filter: blur(0);
    z-index: 2;
    @include transition(.2s);
    visibility: hidden;
    will-change: backdrop-filter;
  }

  &.no-scrollbar {
    overflow: hidden;

    &:before {
      background: rgba(0.10, 0.09, 0.08, 0.5);
      backdrop-filter: blur(2px);
      visibility: visible;
    }
  }
}
