.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-arrow-right {
  width: 16px;
  height: 16px;
}
.icon-chevron-right {
  width: 320px;
  height: 512px;
}
.icon-envelope {
  width: 512px;
  height: 512px;
}
.icon-facebook {
  width: 24px;
  height: 24px;
}
.icon-instagram {
  width: 24px;
  height: 24px;
}
.icon-linkedin {
  width: 24px;
  height: 24px;
}
.icon-map-marker {
  width: 384px;
  height: 512px;
}
.icon-phone {
  width: 512px;
  height: 512px;
}
.icon-popup-close {
  width: 26px;
  height: 26px;
}
