$icons: (sprite: (width: 172px, height: 148px, pngPath: '../assets/images/sprite.png', svgPath: '../assets/images/sprite.svg'),
envelope-gold: (width: 17.5px, height: 14px, backgroundX: 0px, backgroundY: 0px),
form-checkbox-tick: (width: 16px, height: 12px, backgroundX: -18px, backgroundY: -14px),
input-date: (width: 18px, height: 20px, backgroundX: -34px, backgroundY: -26px),
marker-gold: (width: 17.5px, height: 14px, backgroundX: -52px, backgroundY: -46px),
phone-gold: (width: 17.5px, height: 14px, backgroundX: -70px, backgroundY: -60px),
popup-close: (width: 26px, height: 26px, backgroundX: -88px, backgroundY: -74px),
select2-arrow: (width: 14px, height: 9px, backgroundX: -114px, backgroundY: -100px),
select2-arrow-active: (width: 14px, height: 9px, backgroundX: -128px, backgroundY: -109px),
shedule: (width: 30px, height: 30px, backgroundX: -142px, backgroundY: -118px),
);
