.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-arrow-right {
  width: 16px;
  height: 16px;
}
.icon-chevron-right {
  width: 320px;
  height: 512px;
}
.icon-chevron-thin {
  width: 185.34px;
  height: 185.34px;
}
.icon-close-btn {
  width: 26px;
  height: 26px;
}
.icon-double-chevron {
  width: 192.7px;
  height: 192.7px;
}
.icon-envelope {
  width: 512px;
  height: 512px;
}
.icon-instagram {
  width: 24px;
  height: 24px;
}
.icon-map-marker {
  width: 384px;
  height: 512px;
}
.icon-phone {
  width: 512px;
  height: 512px;
}
.icon-telegram {
  width: 24px;
  height: 24px;
}
.icon-viber {
  width: 24px;
  height: 24px;
}
